body {
    background-color: #F1f5f8;
    transition: 1000ms;
}

.navbar {
    padding: 0.5rem;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.3);


}

.nav-item {
    padding: 0 10px;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;

}

.navbar-brand {
    font-size: 1.3rem;
    padding: 0 0 0 4rem;
    font-family: 'Rubik', 'sans-serif';
    letter-spacing: 6px;

}

.navbar-nav {
    padding: 0 6rem;

}

.content {
    text-align: center;
    margin: 200px auto;
    width: fit-content;
}


h2 {
    text-align: center;
    background-color: #343a40;
    color: white;
    font-family: 'New Tegomin', 'sans-serif';
    font-weight: bold;
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;

}

.btn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    letter-spacing: 2px;
    font-size: 1.5rem;
    padding: 10px 10px;
    font-family: 'New Tegomin', 'sans-serif';
    text-align: center;

}

.color {
    color: #94b5c0;
    text-transform: capitalize;
}

@media screen and (max-width:480px) {
    .navbar-brand {
        padding: 0 0 0 4rem;;
    }
     h2 {
        font-size: 1.5rem;
    }
}        
